<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="task">
        <% task.forEach(element => { %>
            <div id="visible">
                <h3><%=element.task_name%></h3> 
                
                <form action="/delete/<%=element.id %>" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div id="upd" >
                <form action="/update/<%=element.id %>" method="post">
                    <button type="submit">Update</button>
                    <input type="text" id="task_update" name="task_update" value="<%=element.task_name %>">
                </form>
            </div>
            
          
    <% }); %>
    
   <form action="/add" method="post" style="display: flex;">
    <label for="task">New Task:</label>
    <input type="text" id="taks" name="task">
    <input type="date" name="date" id="date">
    <input type="submit" value="Submit">
   </form>
</div>
   
    <script type="module" src="/Pet-projects/toDo/main.js"></script>
</body>
</html>